<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <servers>
    <server>
      <username>{JFROG_USERNAME}</username>
      <password>{JFROG_KEY}</password>
      <id>central</id>
    </server>
    <server>
      <username>{JFROG_USERNAME}</username>
      <password>{JFROG_KEY}</password>
      <id>snapshots</id>
    </server>
    <server>
         <id>git-repository</id>
         <username>{REPOSITORY_USER_NAME}</username>
         <password>{REPOSITORY_PASSWORD}</password>
      </server>
  </servers>
  <profiles>
    <profile>
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>libs-release</name>
          <url>https://sakithsyscolabstest.jfrog.io/sakithsyscolabstest/libs-release</url>
        </repository>
        <repository>
          <snapshots />
          <id>snapshots</id>
          <name>libs-release</name>
          <url>https://sakithsyscolabstest.jfrog.io/sakithsyscolabstest/libs-release</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>libs-release</name>
          <url>https://sakithsyscolabstest.jfrog.io/sakithsyscolabstest/libs-release</url>
        </pluginRepository>
        <pluginRepository>
          <snapshots />
          <id>snapshots</id>
          <name>libs-release</name>
          <url>https://sakithsyscolabstest.jfrog.io/sakithsyscolabstest/libs-release</url>
        </pluginRepository>
      </pluginRepositories>
      <id>artifactory</id>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>
</settings>
